@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);
body {
    background-color: black;
    font-size: 18px;
    text-align: center;
}

#game-board img {
    width: 150px;
    height: 150px;
    margin-right: 5px;
    margin-bottom: 5px;
}

h1 {
    color:darkblue;
    text-align: center;
}

#startBnt {

}