@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);
body {
    background-color: black;
    font-size: 18px;
    text-align: center;
    min-width: 400px;
}

#game-board img {
    width: 150px;
    height: 150px;
    margin-right: 5px;
    margin-bottom: 5px;
}

#game-board img {
    border: 4px solid #000000
}

header {
    font-size: 300%;
    margin: 0;
    color: darkblue;
    text-align: center;
}

footer {
    text-align: right;
}

#elapsed-seconds, #mistakes-times {
    font-size: 140%;
    color: #FF0000;
}

#remaining-pairs, #matches-times {
    font-size: 140%;
    color: #00FF00;
}

.row.completed {
    font-size: 200%;
    color: #00FF00;
}

.row.valid {
    font-size: 120%;
    color: #000000;
}

.row.invalid {
    font-size: 120%;
    color: #FF0000;
}

@media (max-width: 992px) {
    body {
        font-size: 12px;
    }

    #game-board img {
        height: 100px;
        width: 100px;
    }

    header {
        font-size: 200%;
    }

    #elapsed-seconds, #mistakes-times {
        font-size: 90%;
        color: #FF0000;
    }

    #remaining-pairs, #matches-times {
        font-size: 90%;
    }

    .row.completed {
        font-size: 130%;
    }

    .row.valid {
        font-size: 80%;
    }

    .row.invalid {
        font-size: 80%;
    }
}